.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(233, 233, 233, 0.5);
    
}



.header-logo {
    height: 100px;
    max-width: 140px;
    
    display: flex;
    justify-content: space-between;
}

.header-right{
    display: flex;
    flex: 1;
    align-items: center;
    height: 72px;
    

}

.header-search-wrapper{
    height: 54px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background-color: rgb(233, 233, 233);
    width: 60%;
}

.header-search-bar {
    display: flex;
    width: 100%;
    height: 100%;
}

.search-icon {
    font-size: 20px;
    margin: 0 12px;
}

.search-input{
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
    background-color: transparent;
}

.header-icons-right {
    color: red;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    margin-left: 20px;

}

.header-adress {
    display: flex;
}

.header-adress-text {
    font-weight: 700;
    color: grey;
}

.arrow-icon {
    margin-left: 6px;
    font-size: 12px;
}


