.max-width {
    max-width: 1100px;
    margin: 0px auto;
}

.absolute-center {
    display: flex;
    align-items: center;
    justify-content: center;

}

.cursor-pointer {
    cursor: pointer;
}

.collection-title {
    font-size  : 30px;
    color: rgb(34, 34, 34);
    font-weight: 600;
    margin-bottom: 20px;
}

.slick-next:before {
    color: white;
    
    
}

.slick-prev:before {
    color: white;
    
}